		.buttons {
  			padding-top: 30px;
  			text-align: center;
		}
		.btn {
  			cursor: pointer;
  			margin: 10px;
  			border-radius: 5px;
  			text-decoration: none;
  			padding: 10px;
  			font-size: 22px;
  			transition: .3s;
  			display: inline-block;
  		}
  		.blue {
  			color: #55acee;
  			border: 2px #55acee solid;
		}
		.blue:hover {
  			background-color: #55acee;
  			color: #fff
		}
		.green {
  			color: #2ecc71;
  			border: 2px #2ecc71 solid;
		}
		.green:hover {
  			color: #fff;
  			background-color: #2ecc71;
		}